<app-sign-in-out-form-layout>
  <div form class="form">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Monitoring Financial</h1>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <form [formGroup]="singForm" (submit)="onSubmit()">
          <div class="form-label-group mb-3">
            <label for="email" class="font-weight-normal">Email</label>
            <input
              id="email"
              class="form-control"
              type="email"
              formControlName="email"
              [ngClass]="getClassInput(singForm.get('email'))"
            />
            <div class="invalid-feedback" *ngIf="singForm.get('email').invalid && (singForm.get('email').dirty || singForm.get('email').touched)">
              {{ getErrorMesssage('email', singForm.get('email')) }}
            </div>
          </div>
          <div class="form-label-group mb-3">
            <label for="password" class="font-weight-normal">Password</label>
            <input
              id="password"
              class="form-control"
              type="password"
              formControlName="password"
              [ngClass]="getClassInput(singForm.get('password'))"
            />
            <div class="invalid-feedback" *ngIf="singForm.get('password').invalid && (singForm.get('password').dirty || singForm.get('password').touched)">
              {{ getErrorMesssage('password', singForm.get('password')) }}
            </div>
          </div>

          <div class="form-label-group mb-3">
            <label for="passwordConfirm" class="font-weight-normal"
              >Confirm Password</label
            >
            <input
              id="passwordConfirm"
              class="form-control"
              type="password"
              formControlName="confirm-password"
              [ngClass]="getClassInput(singForm.get('confirm-password'))"
            />
            <div class="invalid-feedback" *ngIf="singForm.get('confirm-password').invalid && (singForm.get('confirm-password').dirty || singForm.get('confirm-password').touched)">
              {{ getErrorMesssage('confirm-password', singForm.get('confirm-password')) }}
            </div>
          </div>
          <button class="btn btn-block btn-primary" type="submit" [disabled]="!singForm.valid">
            Sign Up
          </button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p>¿Ya tienes cuenta? Ingresa <a routerLink="/sign-in">aquí</a></p>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">© Roberto González-2019</p>
  </div>
</app-sign-in-out-form-layout>
